{% extends "template.html" %}

{% block head %}
    <title>Instructions</title>
{% endblock %}

{% block functional %}
    <h1>How To</h1>
    <br>
    <p>
        This is a webpage template made to be used by Translators working on Live Translation.
    </p>
    <br>
    <p>
        The responsible for the live transmission opens up the Receiver page, chromakeys the green-box and adjusts it to fit their needs, then waits on the Translator operating the Sender page.
    </p>
    <br>
    <p>
        The Translator opens the Sender page and types their translation in the text area; every time the enter key is pressed, the current message is sent to the Receiver page, as well as showing up on the immediate feedback just above the type area.
    </p>
    <br>
    <p>
        This webpage template was made by <a target="_blank" href="https://github.com/mavvos">@mavvos</a> on GitHub, the project page can be found clicking <a target="_blank" href="https://github.com/mavvos/Live-Translation">here</a>.
    </p>
{% endblock %}

{% block nav %}
    <li class="nav-item">
    <a class="nav-link active" href="#">How To</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/sender">Sender</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="/receiver">Receiver</a>
    </li>
{% endblock %}